Podfile.lock
JHAdSwitch.xcworkspace
*.pbxproj
Pods
JHAdSwitch.xcodeproj/xcuserdata/KaZeKiM.xcuserdatad/
.DS_Store
.idea
JHAdSwitch/JHAdSwitch.xcworkspace/xcuserdata/KaZeKiM.xcuserdatad/UserInterfaceState.xcuserstate
JHAdSwitch/JHAdSwitch.xcworkspace/xcuserdata/KaZeKiM.xcuserdatad/UserInterfaceState.xcuserstate
